@import url('https://fonts.googleapis.com/css?family=Poppins:regular,700');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    user-select: none;
    -webkit-user-drag: none;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background: #111;
    color: #fefefe;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #111; 
  }
  ::-webkit-scrollbar-thumb {
    background: #222; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #E4A400; 
  }
}